NostraTester/Service References/NostraSrv/NostradamusSrv2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7080/NostradamusSrv.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NostraDataContracts" />
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompletePersonalDataById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompletePersonalDataByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NostraDataContracts" minOccurs="0" name="GetCompletePersonalDataByIdResult" nillable="true" type="q1:PersonalRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDisplayPersonalRecordById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDisplayPersonalRecordByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NostraDataContracts" minOccurs="0" name="GetDisplayPersonalRecordByIdResult" nillable="true" type="q2:DisplayPersonalRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>